@font-face {
  font-family: "Noto Sans";
  src: url("./assets/fonts/NotoSans/NotoSans-Light.eot");
  src: url("./assets/fonts/NotoSans/NotoSans-Light.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/NotoSans/NotoSans-Light.woff2") format("woff2"),
    url("./assets/fonts/NotoSans/NotoSans-Light.woff") format("woff"),
    url("./assets/fonts/NotoSans/NotoSans-Light.ttf") format("truetype"),
    url("./assets/fonts/NotoSans/NotoSans-Light.svg#NotoSans-Light")
      format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  src: url("./assets/fonts/NotoSans/NotoSans-Bold.eot");
  src: url("./assets/fonts/NotoSans/NotoSans-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/NotoSans/NotoSans-Bold.woff2") format("woff2"),
    url("./assets/fonts/NotoSans/NotoSans-Bold.woff") format("woff"),
    url("./assets/fonts/NotoSans/NotoSans-Bold.ttf") format("truetype"),
    url("./assets/fonts/NotoSans/NotoSans-Bold.svg#NotoSans-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  src: url("./assets/fonts/NotoSans/NotoSans-Medium.eot");
  src: url("./assets/fonts/NotoSans/NotoSans-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/NotoSans/NotoSans-Medium.woff2") format("woff2"),
    url("./assets/fonts/NotoSans/NotoSans-Medium.woff") format("woff"),
    url("./assets/fonts/NotoSans/NotoSans-Medium.ttf") format("truetype"),
    url("./assets/fonts/NotoSans/NotoSans-Medium.svg#NotoSans-Medium")
      format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  src: url("./assets/fonts/NotoSans/NotoSans-ExtraBold.eot");
  src: url("./assets/fonts/NotoSans/NotoSans-ExtraBold.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/NotoSans/NotoSans-ExtraBold.woff2") format("woff2"),
    url("./assets/fonts/NotoSans/NotoSans-ExtraBold.woff") format("woff"),
    url("./assets/fonts/NotoSans/NotoSans-ExtraBold.ttf") format("truetype"),
    url("./assets/fonts/NotoSans/NotoSans-ExtraBold.svg#NotoSans-ExtraBold")
      format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  src: url("./assets/fonts/NotoSans/NotoSans-Regular.eot");
  src: url("./assets/fonts/NotoSans/NotoSans-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/NotoSans/NotoSans-Regular.woff2") format("woff2"),
    url("./assets/fonts/NotoSans/NotoSans-Regular.woff") format("woff"),
    url("./assets/fonts/NotoSans/NotoSans-Regular.ttf") format("truetype"),
    url("./assets/fonts/NotoSans/NotoSans-Regular.svg#NotoSans-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  src: url("./assets/fonts/NotoSans/NotoSans-SemiBold.eot");
  src: url("./assets/fonts/NotoSans/NotoSans-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/NotoSans/NotoSans-SemiBold.woff2") format("woff2"),
    url("./assets/fonts/NotoSans/NotoSans-SemiBold.woff") format("woff"),
    url("./assets/fonts/NotoSans/NotoSans-SemiBold.ttf") format("truetype"),
    url("./assets/fonts/NotoSans/NotoSans-SemiBold.svg#NotoSans-SemiBold")
      format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
