.radio-input {
  position: relative;
  display: inline-block;
  padding-left: 2.375rem;
  &.active {
    &::before {
      opacity: 1;
    }
  }
  &::before,
  &::after {
    content: "";
    position: absolute;
    border-radius: 50%;
  }
  &::before {
    top: 0.5rem;
    left: 0.375rem;
    height: 1rem;
    width: 1rem;
    background-color: #333333;
    transition-duration: 0.3s;
    opacity: 0;
  }
  &::after {
    top: 0.125rem;
    left: 0;
    width: 1.75rem;
    height: 1.75rem;
    border: 0.125rem solid #999999;
  }
  input {
    display: none;
  }
}

input {
  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #999999;
  }
  &::-moz-placeholder {
    /* Firefox 19+ */
    color: #999999;
  }
  &:-ms-input-placeholder {
    /* IE 10+ */
    color: #999999;
  }
  &:-moz-placeholder {
    /* Firefox 18- */
    color: #999999;
  }
}
