.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000000;
  opacity: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.3s;
  animation-name: modal-video;
  transition: opacity 0.3s ease-out;
  .modal-body {
    max-width: 70.625rem;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 0.625rem;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
  }

  .modal-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    @media (orientation: landscape) {
      padding: 0.625rem 3.75rem;
      box-sizing: border-box;
    }
  }
  .modal-body-wrap {
    width: 100%;
    position: relative;
    background-color: #fff;
    animation-timing-function: ease-out;
    animation-duration: 0.3s;
    transform: translate(0, 0);
    transition: transform 0.3s ease-out;
    border-radius: 10px;
  }
  video {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }
  .modal-close-button {
    position: absolute;
    z-index: 2;
    top: -2.8125rem;
    right: 0px;
    display: inline-block;
    width: 2.75rem;
    height: 2.75rem;
    color: #fff;
    overflow: hidden;
    border: none;
    background: transparent;
    cursor: pointer;
    @media (orientation: landscape) {
      top: 0;
      right: -2.8125rem;
    }
    &:before,
    &:after {
      content: "";
      position: absolute;
      height: 2px;
      width: 100%;
      top: 50%;
      left: 0;
      background: #fff;
      border-radius: 0.3125rem;
      margin-top: -0.375rem;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}
